USE [master]
GO
/****** Object:  Database [PBMS_DB]    Script Date: 20/06/2026 09:26:02 ******/
CREATE DATABASE [PBMS_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PBMS_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\PBMS_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PBMS_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\PBMS_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PBMS_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PBMS_DB]
GO
/****** Object:  Table [dbo].[Floors]    Script Date: 20/06/2026 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Floors](
	[FloorId] [int] IDENTITY(1,1) NOT NULL,
	[FloorName] [nvarchar](255) NOT NULL,
	[Capacity] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FloorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IncidentReports]    Script Date: 20/06/2026 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncidentReports](
	[IncidentId] [int] IDENTITY(1,1) NOT NULL,
	[SessionId] [int] NOT NULL,
	[IssueType] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ReportedId] [int] NOT NULL,
	[ResolvedId] [int] NULL,
	[Status] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IncidentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 20/06/2026 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[SessionId] [int] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[PaymentTime] [datetime] NULL,
	[StaffId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParkingSession]    Script Date: 20/06/2026 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingSession](
	[SessionId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[SlotId] [int] NOT NULL,
	[LicenseVehicle] [varchar](50) NOT NULL,
	[TypeId] [int] NOT NULL,
	[BookingTime] [datetime] NULL,
	[CheckInTime] [datetime] NULL,
	[CheckOutTime] [datetime] NULL,
	[CheckInImageUrl] [varchar](500) NULL,
	[CheckOutImageUrl] [varchar](500) NULL,
	[SessionStatus] [varchar](50) NOT NULL,
	[TicketId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParkingSlots]    Script Date: 20/06/2026 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingSlots](
	[SlotId] [int] IDENTITY(1,1) NOT NULL,
	[SlotName] [nvarchar](255) NOT NULL,
	[FloorId] [int] NOT NULL,
	[TypeId] [int] NOT NULL,
	[SlotStatus] [varchar](50) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SlotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 20/06/2026 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](255) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 20/06/2026 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[TicketId] [int] IDENTITY(1,1) NOT NULL,
	[TicketCode] [varchar](100) NOT NULL,
	[TicketStatus] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 20/06/2026 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](255) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[PhoneNumber] [varchar](20) NULL,
	[PasswordHash] [varchar](64) NOT NULL,
	[RoleId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehiclesType]    Script Date: 20/06/2026 09:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehiclesType](
	[TypeId] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](255) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Floors] ON 

INSERT [dbo].[Floors] ([FloorId], [FloorName], [Capacity], [IsDeleted]) VALUES (1, N'Basement 1', 10, 0)
INSERT [dbo].[Floors] ([FloorId], [FloorName], [Capacity], [IsDeleted]) VALUES (2, N'Basement 1', 50, 0)
SET IDENTITY_INSERT [dbo].[Floors] OFF
GO
SET IDENTITY_INSERT [dbo].[ParkingSlots] ON 

INSERT [dbo].[ParkingSlots] ([SlotId], [SlotName], [FloorId], [TypeId], [SlotStatus], [IsDeleted]) VALUES (1, N'A1-01', 1, 2, N'available', 0)
INSERT [dbo].[ParkingSlots] ([SlotId], [SlotName], [FloorId], [TypeId], [SlotStatus], [IsDeleted]) VALUES (2, N'A1-02', 1, 2, N'available', 0)
INSERT [dbo].[ParkingSlots] ([SlotId], [SlotName], [FloorId], [TypeId], [SlotStatus], [IsDeleted]) VALUES (3, N'A1-03', 1, 2, N'available', 0)
SET IDENTITY_INSERT [dbo].[ParkingSlots] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName], [IsDeleted]) VALUES (1, N'Registered_Driver', 0)
INSERT [dbo].[Roles] ([RoleId], [RoleName], [IsDeleted]) VALUES (2, N'Staff', 0)
INSERT [dbo].[Roles] ([RoleId], [RoleName], [IsDeleted]) VALUES (3, N'Manager', 0)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [Email], [PhoneNumber], [PasswordHash], [RoleId], [IsDeleted]) VALUES (1, N'Bach', N'Bach@gmail.com', N'0392999999', N'9a6105b9e9a9d73248ee86b85e612c12968c3484228f77280764ae5b00d8c5bb', 1, 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[VehiclesType] ON 

INSERT [dbo].[VehiclesType] ([TypeId], [TypeName], [Price], [IsDeleted]) VALUES (1, N'Motobike', CAST(4000.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[VehiclesType] ([TypeId], [TypeName], [Price], [IsDeleted]) VALUES (2, N'Car', CAST(20000.00 AS Decimal(18, 2)), 0)
SET IDENTITY_INSERT [dbo].[VehiclesType] OFF
GO
/****** Object:  Index [UQ__ParkingS__712CC606F55110B7]    Script Date: 20/06/2026 09:26:05 ******/
ALTER TABLE [dbo].[ParkingSession] ADD UNIQUE NONCLUSTERED 
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Floors] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ParkingSession] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ParkingSlots] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[VehiclesType] ADD  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[VehiclesType] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[IncidentReports]  WITH CHECK ADD FOREIGN KEY([ReportedId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[IncidentReports]  WITH CHECK ADD FOREIGN KEY([ResolvedId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[IncidentReports]  WITH CHECK ADD FOREIGN KEY([SessionId])
REFERENCES [dbo].[ParkingSession] ([SessionId])
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([SessionId])
REFERENCES [dbo].[ParkingSession] ([SessionId])
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([StaffId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ParkingSession]  WITH CHECK ADD FOREIGN KEY([SlotId])
REFERENCES [dbo].[ParkingSlots] ([SlotId])
GO
ALTER TABLE [dbo].[ParkingSession]  WITH CHECK ADD FOREIGN KEY([TicketId])
REFERENCES [dbo].[Tickets] ([TicketId])
GO
ALTER TABLE [dbo].[ParkingSession]  WITH CHECK ADD FOREIGN KEY([TypeId])
REFERENCES [dbo].[VehiclesType] ([TypeId])
GO
ALTER TABLE [dbo].[ParkingSession]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ParkingSlots]  WITH CHECK ADD FOREIGN KEY([FloorId])
REFERENCES [dbo].[Floors] ([FloorId])
GO
ALTER TABLE [dbo].[ParkingSlots]  WITH CHECK ADD FOREIGN KEY([TypeId])
REFERENCES [dbo].[VehiclesType] ([TypeId])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[ParkingSession]  WITH CHECK ADD  CONSTRAINT [CHK_SessionStatus] CHECK  (([SessionStatus]='Canceled' OR [SessionStatus]='Completed' OR [SessionStatus]='InUse' OR [SessionStatus]='InProgress'))
GO
ALTER TABLE [dbo].[ParkingSession] CHECK CONSTRAINT [CHK_SessionStatus]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [CHK_TicketStatus] CHECK  (([TicketStatus]='Locked' OR [TicketStatus]='Active'))
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [CHK_TicketStatus]
GO
USE [master]
GO
